.vscode/**
.vscode-test/**
out/**

# Ignore node_modules, but include all LICENSE files within it
node_modules/**
!node_modules/**/LICENSE*
!node_modules/**/[Ll]icense*

src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# Explicitly include the generated notices file
!THIRD_PARTY_NOTICES.txt